.heading {
  font-family: verdana,sans-serif;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}

#text{
  font-family: Georgia,serif;
  font-size: 15px;
}

.text_of_page{
  height: 200px;
  width: 100%;
  background-color: white;
}

.bd-main{
  background-color: #B7C5E0;
}

.bd-windows{
  background-image: url("media/windows_xp.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.bd-linux{
  background-image: url("media/ubuntu.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.video-windows{
  text-align: center;
}

#vd-win{
  width: 600px;
  height: 300px;
}

.video-linux{
  text-align: center;
}

#vd-lin{
  width: 600px;
  height: 300px;
}

#link_to_page{
  color: black;
}

#pictureLink{
    width: 200px;
}

ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

table{
    width: 100%;
}

td, th {
  border: 1px solid;
  text-align: left;
  padding: 8px;
}
